<div class="heading">
  <h1 class="title">Two-Way Binding</h1>
  <h2 class="subtitle">
    ทดสอบการใช้งาน Two-Way Binding บน Angular 15
  </h2>
</div>
<div class="columns mt-2">
  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1 class="card-header-title">ป้อนข้อมูล</h1>
      </div>
      <div class="card-content">

        <div class="content">
          <div class="field">
            <div class="control mb-1">
              <input [(ngModel)]="name" class="input has-background-dark has-text-white" type="text" placeholder="ชื่อ">
            </div>
            <div class="control mb-1">
              <input [(ngModel)]="born" class="input has-background-dark has-text-white" type="number"
                placeholder="ปีเกิด">
            </div>
            <div class="block">
              <button class="button is-primary" [disabled]="!name || !born">ส่งข้อมูล</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="card-header">
        <h1 class="card-header-title">แสดงข้อมูล</h1>
      </div>
      <div class="card-content">
        <div class="content">
          <table *ngIf="name; else alert" class="table is-bordered is-fullwidth is-narrowed">
            <thead class="has-background-grey">
              <tr>
                <th>ชื่อ</th>
                <th>ปีเกิด</th>
                <th>อายุ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{name}}</td>
                <td>{{born}}</td>
                <td><span *ngIf="born">{{currentYear - born}}</span></td>

              </tr>
            </tbody>
          </table>
          <ng-template #alert>

            <div class="notification is-primary">
              กรุณากรอกข้อมูล
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>