<div class="container">
	<div class="heading mb-5">
		<h1 class="title">
			Member + Firebase
		</h1>
		<h2 class="subtitle">
			ทดสอบการใช้ Form + Upload เข้าไปยัง Database + ดึงข้อมูลมาจาก Database
		</h2>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title">ข้อมูลสมาชิกในทีม</p>
				</header>
				<div class="card-content">
					<table class="table is-fullwidth">
						<thead class="has-background-grey">
							<tr>
								<th>คำนำหน้า</th>
								<th>ชื่อ</th>
								<th>นามสกุล</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let memberData of memberList">
								<td>{{memberData.title}}</td>
								<td>{{memberData.fName}}</td>
								<td>{{memberData.lName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="column is-4-desktop">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title">
						ป้อนข้อมูล</p>
				</header>
				<div class="card-content">
					<div class="content">
						<!-- <button class="button is-primary is-fullwidth js-modal-trigger" -->
						<!-- data-target="modal-js-example">เพิ่มข้อมูล</button> -->
						<button class="button is-primary is-fullwidth" (click)="selectItem()">
							เพิ่มข้อมูล
						</button>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>

<app-member-modal *ngIf="showModal" (onClose)="showModal=false"></app-member-modal>