<section class="hero is-small p-6">

  <div class="hero-body">
    <div class="container">
      <p class="title">
        Workshop
      </p>
      <p class="subtitle">
        รวมผลงาน วิชา 0232430865 การพัฒนาคลาวด์แอปพลิเคชัน
      </p>
    </div>
  </div>
</section>
<div class="container mb-6" id="mainContainer">
  <section class="section">
    <div *ngIf="isMainWorkshopRoute(); else routerOutlet" class="columns is-variable is-1">
      <div class="column">
        <div class="columns is-variable is-1 is-desktop">
          <div class="column">
            <app-workshopcard title="Two-Way Binding" image="assets/angular.jpg"
              link="twowaybinding" desc="ทดสอบการส่งข้อมูลแบบ Two-Way Binding"></app-workshopcard>
          </div>
          <div class="column">
            <app-workshopcard title="Form + Firebase" image="assets/angular-form.jpg" link="member"></app-workshopcard>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns is-variable is-1 is-desktop">
          <div class="column">
            <app-workshopcard></app-workshopcard>
          </div>
          <div class="column">
            <app-workshopcard></app-workshopcard>
          </div>
        </div>
      </div>
    </div>
    <ng-template #routerOutlet>
      <router-outlet></router-outlet>
    </ng-template>
  </section>
</div>