<section class="hero is-medium">

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Project
      </p>
      <p class="subtitle">
        รวมผลงาน วิชา 0232430865 การพัฒนาคลาวด์แอปพลิเคชัน
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container has-text-centered">
        <ul>
          <li routerLink="twowaybinding" routerLinkActive="is-active">
            <a>Two-Way Binding
              <span class="ml-2 tag is-success">
                ชิ้นงาน
              </span>
            </a>
          </li>
          <li routerLink="firebase" routerLinkActive="is-active">
            <a>Firebase
              <span class="ml-2 tag is-primary">
                เขียนเล่นๆ
              </span>
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container">
  <router-outlet></router-outlet>
</div>