<section class="hero p-5">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				ข้อมูลส่วนตัว
			</h1>
			<h2 class="subtitle">
				เกี่ยวกับ พรี่บิ๊ก
			</h2>
		</div>
	</div>
</section>
<div class="container">
	<section class="section">
		<div class="tile is-ancestor">
			<div class="tile is-vertical is-full">
				<div class="tile">
					<div class="tile is-parent is-4">
						<div class="tile is-child">
							<div class="card">
								<div class="card-image">
									<figure class="image is-4by5">
										<img src="assets/me_rmut.webp" alt="Placeholder image">
									</figure>
								</div>
								<div class="card-content">
									<div class="media">
										<div class="media-left">
											<figure class="image is-1by1 is-48x48">
												<img src="assets/me_nvc.webp" alt="Placeholder image">
											</figure>
										</div>
										<div class="media-content">
											<p class="title is-4">กรกมล ศรีอ่อน</p>
											<p class="subtitle is-6">@bKoZii</p>
										</div>
									</div>

									<div class="content">
										<p>สวัสดีครับ ผมชื่อ พรี่บิ๊ก เองค้าบ</p>
									</div>
								</div>
								<div class="card-footer">
									<div class="card-footer-item"><a href="">Facebook</a></div>
									<div class="card-footer-item"><a href="">Instagram</a></div>
									<div class="card-footer-item"><a href="">GitHub</a></div>
								</div>
							</div>
						</div>
					</div>

					<div class="tile is-parent is-vertical">
						<article class="tile is-child card">
							<div class="card-content">

								<h1 class="title">เกี่ยวกับผม</h1>
								<!-- <p class="subtitle">Top tile</p> -->
								<div class="content">
									<p>สวัสดีครับ กระผม นาย กรกมล ศรีอ่อน (บิ๊ก) </p>
									<table class="table is-fullwidth is-hoverable">
										<thead>
											<tr>
												<th>สถาบัน</th>
												<th>ระดับการศึกษา</th>
												<th>ช่วงปีที่ศึกษา</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>โรงเรียนวัดวัวหลุง</td>
												<td>ป.1 - ป.6</td>
												<td>2552 - 2557</td>
											</tr>
											<tr>
												<td>โรงเรียนกัลยาณีศรีธรรมราช</td>
												<td>ม.1 - ม.3</td>
												<td>2558 - 2560</td>
											</tr>
											<tr>
												<td>วิทยาลัยอาชีวศึกษานครศรีธรรมราช</td>
												<td>ปวช.1 - ปวส.2</td>
												<td>2561 - 2566</td>
											</tr>
											<tr>
												<td>มหาวิทยาลัยเทคโนโลยีราชมงคลศรีวิชัย</td>
												<td>ป.ตรี</td>
												<td>2566 - ปัจจุบัน</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</article>
						<article class="tile is-child card">
							<div class="card-content">
								<p class="title">เครื่องมือที่เคยใช้ / ผ่านมือ</p>
								<!-- <p class="subtitle">Bottom tile</p> -->
								<div class="columns content">
									<div class="column">
										<h3>Framework</h3>
										<ul>
											<li>Angular [FrontEnd]</li>
											<li>Discord.py [Discord Bot]</li>
											<li>Bulma [CSS Framework]</li>
											<li>Bootstrap [CSS Framework]</li>
										</ul>
										<h3>Software</h3>
										<ul>
											<li>VSCode</li>
											<li>Firebase</li>
										</ul>
									</div>
									<div class="column">
										<h3>Language</h3>
										<ul>
											<li>Python</li>
											<li>อะไร</li>
										</ul>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<p class="is-italic">Powered by <a href="https://bulma.io/documentation/layout/tiles/" target="_blank"
				ref="noopener noreferrer">Tiles layout by Bulma</a> - Fully Responsive!!</p>
	</section>
</div>