<section class="hero is-small p-6">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Konkamon Sion
      </h1>
      <h2 class="subtitle">
        เว็บไอไหรว้ะ...
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <h2 class="title"><a href="https://bulma.io/documentation/components/card/" target="_blank"
        rel="noopener noreferrer">Card</a> + <a href="https://bulma.io/documentation/columns/" target="_blank"
        rel="noopener noreferrer">Columns</a> [Bulma] </h2>
    <p class="subtitle">Responsive!!</p>
    <div class="columns is-desktop is-multiline">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              พรี่บิ๊ก </p>

          </header>
          <figure class="image"><img src="assets/me1.jpg" alt=""></figure>
          <div class="card-content">
            <div class="content">
              <p>พรี่บิ๊กเองค้าบ คนที่ขยันเดินที่สุดใน ม. 😆</p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://www.facebook.com/bKoZii" target="_blank" rel="noopener noreferrer"
              class="card-footer-item">
              <i class="bi bi-facebook mr-2"></i>
              Facebook
            </a>
            <a href="https://www.instagram.com/bkoziii/" target="_blank" rel="noopener noreferrer"
              class="card-footer-item">
              <i class="bi bi-instagram mr-2"></i>Instagram</a>
            <a href="https://github.com/bKoZii" target="_blank" rel="noopener noreferrer" class="card-footer-item">
              <i class="bi bi-github mr-2"></i>GitHub</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Bulma</p>

          </header>
          <figure class="image"><img src="assets/bulma-banner.png" alt=""></figure>
          <div class="card-content">
            <div class="content">
              <p>Bulma เป็น CSS Framework ที่รู้จักในด้านความเรียบง่าย อ่านง่าย และใช้งานง่าย
                ไม่พึ่งพา JavaScript
                หรือการพึ่งพาเพิ่มเติมใด ๆ ทำให้มีน้ำหนักเบาและโหลดได้เร็ว มีไวยากรณ์ที่สะอาดและใช้งานง่าย
                ทำให้สามารถเข้าถึงได้ทั้งสำหรับผู้เริ่มต้นและนักพัฒนาที่มีประสบการณ์</p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://bulma.io" target="_blank" rel="noopener noreferrer" class="card-footer-item"><i
                class="bi bi-globe mr-2"></i>Website</a>
            <a href="https://github.com/jgthms/bulma" target="_blank" rel="noopener noreferrer"
              class="card-footer-item">GitHub</a>
          </footer>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Angular</p>

          </header>
          <figure class="image"><img src="assets/angular.png" alt=""></figure>
          <div class="card-content">
            <div class="content">
              <p>Angular คือ Frontend Framework โดย Angular เป็นเฟรมเวิร์กที่ใช้สำหรับ
                พัฒนาเว็บแอพพลิเคชันในฝั่งของ Client</p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="https://angular.io" target="_blank" rel="noopener noreferrer" class="card-footer-item"><i
                class="bi bi-globe mr-2"></i>Website</a>
            <a href="https://github.com/angular/angular" target="_blank" rel="noopener noreferrer"
              class="card-footer-item"><i class="bi bi-github mr-2"></i>GitHub</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
</div>